<div
  class="flex flex-column sm:flex-row flex-wrap space-y-4 sm:space-y-0 items-center justify-between pb-4"
>
  <app-breadcrumb></app-breadcrumb>
  <app-popover #popover>
    <app-button popover-trigger [endIcon]="endIcon">
      Actions
      <ng-template #endIcon>
        <!-- class="rtl:rotate-180 w-3.5 h-3.5 ms-2" -->
        <svg
          class="rotate-180 w-3.5 h-3.5 ms-2"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 5 5 1 1 5"
          />
        </svg>
      </ng-template>
    </app-button>
    <app-menu
      [menuItems]="actionLists()"
      (ngModelChange)="onActionsChange($event)"
      [(ngModel)]="selectedMenuItem"
      (itemSelected)="popover.close()"
      popover-content
    ></app-menu>
  </app-popover>
</div>
<app-table
  [data]="data"
  [columns]="columns"
  [actionsTemplate]="actionsTemplate"
  (onRowSelectionChange)="onRowSelectionChange($event)"
>
  <ng-template #actionsTemplate let-row>
    <div class="flex items-center px-6 py-4">
      <a
        href="#"
        class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
        >Edit</a
      >
      <a
        href="#"
        class="font-medium text-red-600 dark:text-red-500 hover:underline ms-3"
        >Remove</a
      >
    </div>
  </ng-template>
</app-table>
