<div
  class="flex w-full h-11 overflow-x-auto min-w-40 gap-2 shadow-xs bg-gray-50 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-xs-light"
>
  @for (item of items; track item.value) {
  <app-chip (onClearChip)="handleClearChip(item.value)">{{
    item.label
  }}</app-chip>
  } @if (!items.length) {
  <p class="text-sm text-gray-400 flex items-center">No items available</p>
  }
</div>
