<form class="max-w-md mx-auto" #form="ngForm" [formGroup]="createUserForm">
  <app-text-field
    label="Email"
    placeholder="name@example.com"
    [class.ng-submitted]="form.submitted"
    formControlName="email"
  >
    <ng-template
      #description
      *ngIf="
        (form.submitted || createUserForm.controls.email.touched) &&
        createUserForm.controls.email.errors
      "
    >
      <p class="mt-2 text-sm text-red-600 dark:text-red-500">
        <ng-container *ngIf="createUserForm.controls.email.errors['required']">
          Email is required!
        </ng-container>
        <ng-container *ngIf="createUserForm.controls.email.errors['email']">
          Please enter a valid email address!
        </ng-container>
      </p>
    </ng-template>
  </app-text-field>
  <app-text-field
    label="Password"
    placeholder="********"
    formControlName="password"
    [class.ng-submitted]="form.submitted"
  >
    <ng-template
      #description
      *ngIf="
        (form.submitted || createUserForm.controls.password.touched) &&
        createUserForm.controls.password.errors
      "
    >
      <p class="mt-2 text-sm text-red-600 dark:text-red-500">
        <ng-container
          *ngIf="createUserForm.controls.password.errors['required']"
        >
          Password is required!
        </ng-container>
      </p>
    </ng-template>
  </app-text-field>
  <app-text-field
    label="Confirm Password"
    placeholder="********"
    formControlName="confirmPassword"
    [class.ng-submitted]="form.submitted"
  >
    <ng-template
      #description
      *ngIf="
        (form.submitted || createUserForm.controls.confirmPassword.touched) &&
        createUserForm.controls.confirmPassword.errors
      "
    >
      <p class="mt-2 text-sm text-red-600 dark:text-red-500">
        <ng-container
          *ngIf="createUserForm.controls.confirmPassword.errors['required']"
        >
          Confirm Password is required!
        </ng-container>
        <ng-container
          *ngIf="
            createUserForm.controls.confirmPassword.errors['incorrectMatching']
          "
        >
          Confirm Password is not matching
        </ng-container>
      </p>
    </ng-template>
  </app-text-field>
  <div class="grid md:grid-cols-2 md:gap-6">
    <app-text-field
      label="First name"
      placeholder="First name"
      formControlName="firstName"
      [class.ng-submitted]="form.submitted"
    >
    </app-text-field>
    <app-text-field
      label="Last name"
      placeholder="Last name"
      formControlName="lastName"
      [class.ng-submitted]="form.submitted"
    >
    </app-text-field>
  </div>
  <div class="grid md:grid-cols-2 md:gap-6">
    <app-text-field
      label="Phone number"
      placeholder="123-456-7890"
      formControlName="phoneNumber"
      [class.ng-submitted]="form.submitted"
    >
    </app-text-field>
    <app-text-field
      label="Company"
      placeholder="Company"
      formControlName="company"
      [class.ng-submitted]="form.submitted"
    >
    </app-text-field>
  </div>
  <app-button [disabled]="!!form.invalid && form.submitted" type="submit"
    >Submit</app-button
  >
</form>
