<app-popover #popover>
  @if (multiple) {
  <div popover-trigger class="w-full max-w-40">
    <app-chips-list
      (onClearChip)="handleRemoveChip($event)"
      [items]="selectedMenuItems"
    ></app-chips-list>
  </div>
  } @else {
  <app-text-field
    size="small"
    [ngModel]="selectedMenuItems.length ? selectedMenuItems[0].label : ''"
    popover-trigger
    [readonly]="true"
    [placeholder]="placeholder"
  >
    <ng-template #endIcon>
      <svg
        class="rotate-180 w-3.5 h-3.5 ms-2"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 14 10"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 5 5 1 1 5"
        />
      </svg>
    </ng-template>
  </app-text-field>
  }
  <app-menu
    [multiple]="multiple"
    popover-content
    [(ngModel)]="selectedMenuItems"
    [options]="options"
    (ngModelChange)="selectMenuItem($event)"
  ></app-menu>
</app-popover>
