<div
  cdkMenu
  class="my-1 text-base list-none bg-white divide-y divide-gray-100 rounded-sm shadow-sm dark:bg-gray-700 dark:divide-gray-600"
  id="dropdown-user"
>
  <div class="px-4 py-3" role="none">
    <p class="text-sm text-gray-900 dark:text-white" role="none">Neil Sims</p>
    <p
      class="text-sm font-medium text-gray-900 truncate dark:text-gray-300"
      role="none"
    >
      neil.simsflowbite.com
    </p>
  </div>
  <ul class="py-1">
    @for (item of options; track item.value) {
    <li
      class="cursor-pointer"
      cdkMenuItem
      (click)="!item.disabled && selectMenuItem(item)"
      [ngClass]="{
        'opacity-50 cursor-not-allowed select-none': item.disabled,
        'hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white':
          !item.disabled,
        'bg-gray-100 dark:bg-gray-600 dark:text-white': isActive(item)
      }"
    >
      <p
        class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
        role="menuitem"
        [ngClass]="{
          'bg-gray-100 dark:bg-gray-600 dark:text-white': isActive(item)
        }"
      >
        {{ item.label }}
      </p>
    </li>
    }
  </ul>
</div>
